.aboutme {
    color: white;
    width: 90%;
    padding: 1.06rem 1.5rem;
    margin: auto;
    height: auto;
    margin-bottom: 6rem;
    margin-top: 6rem;
    &__links {
        margin-bottom: 2rem;
        &--link {
            text-decoration: none;
            font-size: $font-medium;
            outline: none;
            color: #fff;
            background: transparent;
            border: none;
            transition: 0.2s ease-in-out;
            font-family: inherit;
            position: relative;
            z-index: 2;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                background: $primary-red;
                left: 0;
                right: 0;
                bottom: -10px;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }
             :visited,
            a:hover {
                text-decoration: none;
                border: none;
            }
            &:hover {
                color: rgb(194, 194, 194);
                &::before {
                    opacity: 1;
                }
            }
            &:not(:last-child) {
                margin-right: 3rem;
                @include breakpoint-down(small) {
                    margin-right: .9rem !important;
                }
            }
            @include breakpoint-down(medium) {
                font-size: $font-Smedium !important;
            }
            @include breakpoint-down(small) {
                font-size: $font-small !important;
            }
        }
    }
    &__content {
        position: relative;
        &--txt {
            width: 100%;
            height: 100%;
            @include breakpoint-down(small) {
                font-size: $font-small !important;
            }
            p {
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
        #aboutmeBtn:checked~#aboutmetxt {
            z-index: 9;
        }
        #experienceBtn:checked~#experiencetxt {
            z-index: 9;
        }
    }
}