.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.fade-in {
    animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 0.2s ease-in-out forwards;
}

.slide-in {
    animation: slide-in 0.3s slide-in;
}

.slide-out {
    animation: slide-out 0.3s slide-out;
}

@keyframes slide-out {
    from {
        overflow: visible;
        width: 100%;
    }
    99% {
        overflow: hidden;
        width: 1%;
    }
    to {
        overflow: hidden;
        width: 0%;
    }
}

@keyframes slide-in {
    from {
        overflow: hidden;
        width: 0;
    }
    1% {
        overflow: visible;
        width: 99%;
    }
    to {
        overflow: visible;
        width: 100%;
    }
}

.showtxt {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.hidetxt {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
}

//Welcom texy