.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.fade-in {
    animation: fade-in 0.2s ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 0.2s ease-in-out forwards;
}

.slide-in {
    animation: slide-in 0.3s slide-in;
}

.slide-out {
    animation: slide-out 0.3s slide-out;
}

@keyframes slide-out {
    from {
        overflow: visible;
        width: 100%;
    }
    99% {
        overflow: hidden;
        width: 1%;
    }
    to {
        overflow: hidden;
        width: 0%;
    }
}

@keyframes slide-in {
    from {
        overflow: hidden;
        width: 0;
    }
    1% {
        overflow: visible;
        width: 99%;
    }
    to {
        overflow: visible;
        width: 100%;
    }
}

.showtxt {
    display: block;
}

.hidetxt {
    display: none;
}

//Welcom texy
@keyframes slideelem {
    0% {
        overflow: hidden;
        transform: translateX(-100%);
        opacity: 0;
    }
    10% {
        overflow: visible;
        transform: translateX(-90%);
        opacity: 0.1;
    }
    20% {
        overflow: visible;
        transform: translateX(-80%);
        opacity: 0.2;
    }
    30% {
        overflow: visible;
        transform: translateX(-70%);
        opacity: 0.1;
    }
    40% {
        overflow: visible;
        transform: translateX(-60%);
        opacity: 0.1;
    }
    60% {
        overflow: visible;
        transform: translateX(-40%);
        opacity: 0.2;
    }
    70% {
        overflow: visible;
        transform: translateX(-30%);
        opacity: 0.3;
    }
    80% {
        overflow: visible;
        transform: translateX(-20%);
    }
    90% {
        overflow: visible;
        transform: translateX(-10%);
        opacity: 0.6;
    }
    100% {
        overflow: visible;
        transform: translateX(0%);
        opacity: 1;
    }
}