.contact {
    width: 100%;
    margin: auto;
    background: linear-gradient( to bottom, rgba(21, 21, 29, 0.767), rgba(27, 25, 37, 0.582)), url('../img/bckimg1.jpg');
    outline: none;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        max-width: 1224px;
        padding: 1.06rem 1.5rem;
        @include breakpoint-down(small) {
            flex-direction: column;
            align-items: flex-start;
        }
        @include breakpoint-down(medium) {}
        &--rightside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: end;
            h4 {
                font-size: $font-Smedium;
                @include breakpoint-down(small) {
                    font-size: $font-small;
                }
            }
            &-number {
                display: flex;
                align-items: center;
                color: #fff;
                margin: 0 !important;
                font-weight: 400;
                font-size: $font-medium;
                @include breakpoint-down(medium) {
                    font-size: $font-Smedium !important;
                }
                @include breakpoint-down(small) {
                    font-size: $font-small;
                }
            }
        }
        &--leftside {
            display: flex;
            justify-content: space-around;
            align-content: center;
            width: 40%;
            @include breakpoint-down(small) {
                width: 50%;
            }
            a {
                svg {
                    width: 22px;
                    @include breakpoint-down(small) {
                        width: 20px;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    .footer-t {
        font-size: $font-small;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint-down(small) {
            font-size: .5rem !important;
            img {
                height: 22px !important;
            }
        }
    }
}