.contact {
    width: 100%;
    margin: auto;
    border-top: 2px solid $primary-red;
    background: linear-gradient( to bottom, rgb(10, 12, 15), rgba(10, 12, 15, 0.863)), url('../../img/bckimg.jpg');
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 1.06rem 1.5rem;
        @include breakpoint-down(small) {
            flex-direction: column;
            align-items: flex-start;
        }
        @include breakpoint-down(medium) {}
        &--rightside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: end;
            h4 {
                font-size: $font-medium;
                @include breakpoint-down(small) {
                    font-size: $font-small;
                }
            }
            &-number {
                display: flex;
                align-items: center;
                color: #fff;
                margin: 0 !important;
                font-weight: 400;
                font-size: $font-medium;
                @include breakpoint-down(small) {
                    font-size: $font-small;
                }
                @include breakpoint-down(medium) {
                    font-size: $font-Smedium;
                }
                svg {
                    width: 30px;
                    @include breakpoint-down(small) {
                        width: 22px;
                    }
                }
            }
        }
        &--leftside {
            display: flex;
            justify-content: space-around;
            align-content: center;
            width: 40%;
            a {
                display: flex;
                align-content: center;
                justify-content: space-around;
                svg {
                    width: 22px;
                    @include breakpoint-down(small) {
                        width: 20px;
                    }
                }
            }
        }
    }
    .footer-t {
        font-size: $font-small;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint-down(small) {
            font-size: .5rem !important;
            img {
                height: 32px !important;
            }
        }
    }
}