.header {
    background: transparent;
    //Hamburger menu 
    &.open {
        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }
            >span:last-child {
                transform: rotate(-45deg);
            }
            >span:nth-child(2) {
                opacity: 0;
            }
        }
    }
    .overlay {
        //display: none;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary-blue;
    }
    //NAVBAR STYLE
    &__nav {
        padding: 1.06rem 1.5rem;
        position: relative;
        display: flex;
        width: 90%;
        max-width: 1524px;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        &--navlinks {
            width: 50%;
            @include breakpoint-down(medium) {
                width: 60%;
            }
            .navlink {
                text-decoration: none;
                font-size: $font-Smedium;
                color: #fff;
                transition: 0.2s ease-in-out;
                position: relative;
                @include breakpoint-down(medium) {
                    font-size: $font-Smedium !important;
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 2px;
                    background: $primary-red;
                    left: 0;
                    right: 0;
                    bottom: -10px;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
                 :visited,
                a:hover {
                    text-decoration: none;
                }
                &:hover {
                    color: rgb(194, 194, 194);
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
        &--hamburger {
            padding: 0;
            span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: $primary-red;
                transition: all 0.3s ease-in-out;
                transform-origin: 3px 3px;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
    &__menu {
        position: absolute;
        left: 50%;
        width: calc(100% - 3rem);
        height: calc(100% - 60vh);
        transform: translateX(-50%);
        background: $primary-red;
        padding: 1.625rem;
        border-radius: 5px;
        margin-top: 1.5rem;
        a {
            color: $primary-blue;
            text-decoration: none;
            font-size: $font-medium;
            padding: 0.625rem;
            display: block;
            text-align: center;
             :visited,
            &:hover {
                text-decoration: none;
            }
            &:hover {
                color: rgb(43, 40, 92);
                &::before {
                    opacity: 1;
                }
            }
            @include breakpoint-down(medium) {
                font-size: $font-Smedium !important;
            }
            @include breakpoint-down(small) {
                font-size: $font-small !important;
            }
        }
    }
}