main {
    height: 100vh;
    background-image: url('../../img/back.png');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_hellotxt {}
    &_btn {}
    &_social {}
}