main {
    background: linear-gradient( to bottom, rgba(10, 12, 15, 0.527), rgba(10, 12, 15, 1)), url('../../img/bckimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto
}

.main {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1.06rem 1.5rem;
    margin-top: 7rem;
    @include breakpoint-down(small) {
        flex-direction: column;
        margin-top: 5rem !important;
    }
    &_txt {
        &--btn {
            a {
                text-decoration: none;
                color: $primary-blue;
                background-color: $primary-red;
                height: 2rem;
                width: 6rem;
                padding: 0.6rem 1rem;
                border: none;
                border-radius: 50px;
                &:not(:last-child) {
                    margin-right: 1rem;
                    @include breakpoint-down(small) {
                        margin-right: .3rem;
                    }
                }
                &:hover {
                    box-shadow: 4px 3px 10px black;
                }
                &:active {
                    box-shadow: 3px 2px 10px black;
                }
                @include breakpoint-down(small) {
                    height: 1.5rem;
                    width: 3rem;
                    padding: 0.2rem 0.6rem;
                    border: none;
                    font-size: $font-small;
                    border-radius: 50px;
                }
            }
        }
        flex: 2.6;
        &--intro {
            margin-bottom: 2rem;
            &-n {
                color: $primary-red;
                font-size: 3rem;
                @include breakpoint-down(large) {
                    font-size: 3rem !important;
                }
                @include breakpoint-down(medium) {
                    font-size: 2.2rem !important;
                }
                @include breakpoint-down(small) {
                    font-size: 1.6rem !important;
                }
            }
            &-i {
                color: white;
                font-size: 1.9rem;
                @include breakpoint-down(large) {
                    font-size: 1.9rem !important;
                }
                @include breakpoint-down(medium) {
                    font-size: 1.5rem !important;
                }
                @include breakpoint-down(small) {
                    margin-top: 4rem;
                    font-size: 1rem !important;
                }
            }
        }
    }
    &_social {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .navlink {
            margin-bottom: 1rem;
            &_svg {
                height: 60%;
                &:hover {
                    fill: $primary-red;
                }
            }
        }
        @include breakpoint-down(small) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 3rem;
            .navlink {
                margin-right: 1rem;
                &_svg {
                    height: 1.4rem;
                }
            }
        }
    }
}