main {
    background: linear-gradient( to bottom, rgba(10, 12, 15, 0.527), rgba(10, 12, 15, 1)), url('../img/bckimg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.main {
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 1324px;
    padding: 1.06rem 1.5rem;
    margin-top: 7rem;
    @include breakpoint-down(small) {
        flex-direction: column;
        margin-top: 5rem !important;
        align-items: center;
        justify-content: center;
    }
    &_txt {
        &--btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0px;
                width: 120px;
                text-decoration: none;
                height: 40px;
                border-radius: 10px;
                background-color: $primary-red;
                color: #000000;
                font-size: $font-Smedium;
                cursor: pointer;
                padding: 0px;
                transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
                box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
                &:not(:last-child) {
                    margin-right: 1rem;
                    @include breakpoint-down(small) {}
                }
                &:hover {
                    box-shadow: 4px 3px 10px black;
                }
                &:active {
                    box-shadow: 3px 2px 10px black;
                }
                @include breakpoint-down(small) {
                    width: 90px;
                    height: 25px;
                    padding: 0.2rem 0.6rem;
                    border: none;
                    font-size: .6rem;
                    border-radius: 50px;
                }
            }
        }
        flex: 2.6;
        &--intro {
            margin-bottom: 2rem;
            animation: slideelem 1s linear;
            &-n {
                color: $primary-red;
                font-size: $font-big;
                @include breakpoint-down(small) {
                    font-size: $font-medium !important;
                }
            }
            &-i {
                color: white;
                font-size: $font-medium;
                @include breakpoint-down(medium) {
                    font-size: $font-Smedium;
                }
                @include breakpoint-down(small) {
                    font-size: $font-small;
                }
            }
        }
        @include breakpoint-down(small) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
    &_social {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .navlink {
            margin-bottom: 1rem;
            &_svg {
                height: 60%;
                &:hover {
                    fill: $primary-red;
                }
            }
        }
        @include breakpoint-down(small) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 3rem;
            .navlink {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
                &_svg {
                    height: 1.4rem;
                }
            }
        }
    }
}