.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s ease-in-out forwards;
          animation: fade-in 0.2s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.2s ease-in-out forwards;
          animation: fade-out 0.2s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Homenaje', sans-serif;
  font-weight: 300;
  background: #0a0c0f;
}

body.noscroll {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-js-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-js-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-max {
  margin: 2.4rem;
}

.margin-max .margin-max--left {
  margin-left: 2.4rem;
}

.margin-max .margin-max--right {
  margin-right: 2.4rem;
}

.margin-max .margin-max--bottom {
  margin-bottom: 2.4rem;
}

.margin-max .margin-max--top {
  margin-top: 2.4rem;
}

.margin-mid {
  margin: 1.6rem;
}

.margin-mid .margin-mid--left {
  margin-left: 1.6rem;
}

.margin-mid .margin-mid--right {
  margin-right: 1.6rem;
}

.margin-mid .margin-mid--top {
  margin-top: 1.6rem;
}

.margin-mid .margin-mid--bottom {
  margin-bottom: 1.6rem;
}

.margin-min {
  margin: 0.6rem;
}

.margin-min .margin-min--bottom {
  margin-bottom: 0.6rem;
}

.margin-min .margin-min--top {
  margin-top: 0.6rem;
}

.margin-min .margin-min--left {
  margin-left: 0.6rem;
}

.margin-min .margin-min--right {
  margin-right: 0.6rem;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .logoandburger {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 87.4375em) {
  .font-size-t {
    font-size: 2.6rem;
  }
}

@media (max-width: 63.9375em) {
  .font-size-t {
    font-size: 1.8rem;
  }
}

@media (max-width: 39.9375em) {
  .font-size-t {
    font-size: 1.25rem;
  }
}

@media (max-width: null) {
  .logoBreakPoint {
    width: 40%;
  }
  .logoBreakPoint img {
    height: 35px;
  }
}

@media (max-width: 63.9375em) {
  .logoBreakPoint {
    width: 40%;
  }
  .logoBreakPoint img {
    height: 35px;
  }
}

@media (max-width: 39.9375em) {
  .logoBreakPoint {
    width: 50% !important;
    margin-top: 1.5rem !important;
  }
  .logoBreakPoint img {
    height: 20px;
  }
  .logoBreakPoint img:not(:last-child) {
    margin-right: .5rem;
  }
}

@media (max-width: 39.9375em) {
  .btnBreakPoint {
    font-size: 1.12rem;
    font-weight: 500;
    width: 8.875rem !important;
  }
  .btnBreakPoint a {
    padding: 0.255rem .875rem !important;
  }
  .btnBreakPoint a:last-child {
    margin-left: 0 !important;
    margin-top: .9rem !important;
  }
}

.header {
  background: transparent;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0c0f;
}

.header__nav {
  padding: 1.06rem 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav--navlinks {
  width: 50%;
}

.header__nav--navlinks .navlink {
  text-decoration: none;
  font-size: 1.12rem;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
}

.header__nav--navlinks .navlink::before {
  content: "";
  position: absolute;
  height: 2px;
  background: #c3002f;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__nav--navlinks .navlink :visited,
.header__nav--navlinks .navlink a:hover {
  text-decoration: none;
}

.header__nav--navlinks .navlink:hover {
  color: #c2c2c2;
}

.header__nav--navlinks .navlink:hover::before {
  opacity: 1;
}

.header__nav--hamburger {
  padding: 0;
}

.header__nav--hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #c3002f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: 3px 3px;
          transform-origin: 3px 3px;
}

.header__nav--hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  left: 50%;
  width: calc(100% - 3rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #c3002f;
  padding: 1.625rem;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.header__menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.12rem;
  padding: 0.625rem;
  display: block;
  text-align: center;
}

.header__menu a :visited, .header__menu a:hover {
  text-decoration: none;
}

.header__menu a:hover {
  color: #c2c2c2;
}

.header__menu a:hover::before {
  opacity: 1;
}

main {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 12, 15, 0.712)), to(#0a0c0f)), url("../../img/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg");
  background: linear-gradient(to bottom, rgba(10, 12, 15, 0.712), #0a0c0f), url("../../img/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.main_hellotxt {
  text-align: center;
  margin: 6rem 1.6rem 3rem 1.6rem;
  font-family: 'Bowlby One SC', cursive;
  color: #fff;
}

.main_hellotxt #flip {
  overflow: hidden;
  padding: .18rem .6rem;
}

.main_btn {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.455rem 1.875rem;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.12rem;
  font-weight: 500;
}

.main_btn--contact {
  background: white;
  color: #c3002f;
}

.main_btn--contact:hover {
  background: #c3002f;
  -webkit-box-shadow: 4px 3px 20px black;
          box-shadow: 4px 3px 20px black;
  color: white;
}

.main_btn--contact:active {
  -webkit-box-shadow: 2px 3px 14px black;
          box-shadow: 2px 3px 14px black;
}

.main_btn--resume {
  margin-left: 1.6rem;
  background: #c3002f;
  color: white;
}

.main_btn--resume::after {
  content: "\1F517 ";
  color: white;
}

.main_btn--resume:hover {
  background: white;
  -webkit-box-shadow: 1px 2px 10px black;
          box-shadow: 1px 2px 10px black;
  color: #c3002f;
}

.main_btn--resume:active {
  -webkit-box-shadow: 2px 3px 14px black;
          box-shadow: 2px 3px 14px black;
}

.main_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  width: 30%;
}

.main_social img {
  height: 30px;
}

.main_social img:hover {
  color: #c3002f;
}

.aboutme {
  height: 80vh;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 6rem;
}

.aboutme__links {
  margin-bottom: 2rem;
}

.aboutme__links--link {
  text-decoration: none;
  font-size: 1.12rem;
  outline: none;
  color: #fff;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: inherit;
  position: relative;
  cursor: pointer;
}

.aboutme__links--link::before {
  content: "";
  position: absolute;
  height: 2px;
  background: #c3002f;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.aboutme__links--link :visited,
.aboutme__links--link a:hover {
  text-decoration: none;
  border: none;
}

.aboutme__links--link:hover {
  color: #c2c2c2;
}

.aboutme__links--link:hover::before {
  opacity: 1;
}

.aboutme__links--link:not(:last-child) {
  margin-right: 3rem;
}
/*# sourceMappingURL=style.css.map */