.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s ease-in-out forwards;
          animation: fade-in 0.2s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.2s ease-in-out forwards;
          animation: fade-out 0.2s ease-in-out forwards;
}

.slide-in {
  -webkit-animation: slide-in 0.3s slide-in;
          animation: slide-in 0.3s slide-in;
}

.slide-out {
  -webkit-animation: slide-out 0.3s slide-out;
          animation: slide-out 0.3s slide-out;
}

@-webkit-keyframes slide-out {
  from {
    overflow: visible;
    width: 100%;
  }
  99% {
    overflow: hidden;
    width: 1%;
  }
  to {
    overflow: hidden;
    width: 0%;
  }
}

@keyframes slide-out {
  from {
    overflow: visible;
    width: 100%;
  }
  99% {
    overflow: hidden;
    width: 1%;
  }
  to {
    overflow: hidden;
    width: 0%;
  }
}

@-webkit-keyframes slide-in {
  from {
    overflow: hidden;
    width: 0;
  }
  1% {
    overflow: visible;
    width: 99%;
  }
  to {
    overflow: visible;
    width: 100%;
  }
}

@keyframes slide-in {
  from {
    overflow: hidden;
    width: 0;
  }
  1% {
    overflow: visible;
    width: 99%;
  }
  to {
    overflow: visible;
    width: 100%;
  }
}

.showtxt {
  display: block;
}

.hidetxt {
  display: none;
}

@-webkit-keyframes slideelem {
  0% {
    overflow: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    overflow: visible;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    opacity: 0.1;
  }
  20% {
    overflow: visible;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    opacity: 0.2;
  }
  30% {
    overflow: visible;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    opacity: 0.1;
  }
  40% {
    overflow: visible;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: 0.1;
  }
  60% {
    overflow: visible;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 0.2;
  }
  70% {
    overflow: visible;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: 0.3;
  }
  80% {
    overflow: visible;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  90% {
    overflow: visible;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0.6;
  }
  100% {
    overflow: visible;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideelem {
  0% {
    overflow: hidden;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    overflow: visible;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    opacity: 0.1;
  }
  20% {
    overflow: visible;
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
    opacity: 0.2;
  }
  30% {
    overflow: visible;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
    opacity: 0.1;
  }
  40% {
    overflow: visible;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: 0.1;
  }
  60% {
    overflow: visible;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    opacity: 0.2;
  }
  70% {
    overflow: visible;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: 0.3;
  }
  80% {
    overflow: visible;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  90% {
    overflow: visible;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    opacity: 0.6;
  }
  100% {
    overflow: visible;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: #0a0c0f;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-js-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-js-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-max {
  margin: 2.4rem;
}

.margin-max .margin-max--left {
  margin-left: 2.4rem;
}

.margin-max .margin-max--right {
  margin-right: 2.4rem;
}

.margin-max .margin-max--bottom {
  margin-bottom: 2.4rem;
}

.margin-max .margin-max--top {
  margin-top: 2.4rem;
}

.margin-mid {
  margin: 1.6rem;
}

.margin-mid .margin-mid--left {
  margin-left: 1.6rem;
}

.margin-mid .margin-mid--right {
  margin-right: 1.6rem;
}

.margin-mid .margin-mid--top {
  margin-top: 1.6rem;
}

.margin-mid .margin-mid--bottom {
  margin-bottom: 1.6rem;
}

.margin-min {
  margin: 0.6rem;
}

.margin-min .margin-min--bottom {
  margin-bottom: 0.6rem;
}

.margin-min .margin-min--top {
  margin-top: 0.6rem;
}

.margin-min .margin-min--left {
  margin-left: 0.6rem;
}

.margin-min .margin-min--right {
  margin-right: 0.6rem;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .logoandburger {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section--title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
  width: 90%;
  margin: auto;
  padding: 1.06rem 1.06rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}

@media (max-width: 63.9375em) {
  .section--title {
    font-size: 1rem !important;
  }
}

@media (max-width: 39.9375em) {
  .section--title {
    font-size: 1rem !important;
  }
}

.section--title span {
  font-size: 0.83rem;
  color: rgba(255, 255, 255, 0.11);
}

@media (max-width: 39.9375em) {
  .section--title span {
    font-size: .5rem !important;
  }
}

.top-link {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #F8F8F8;
}

.top-link.show {
  visibility: visible;
  opacity: 1;
}

.top-link.hide {
  visibility: hidden;
  opacity: 0;
}

.top-link svg {
  fill: #000;
  width: 24px;
  height: 12px;
}

.top-link:hover {
  background-color: #E8E8E8;
}

.top-link:hover svg {
  fill: #000000;
}

.screen-reader-text {
  position: absolute;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  -webkit-clip-path: none;
          clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}

.header {
  background: transparent;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0c0f;
}

.header__nav {
  padding: 1.06rem 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1524px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav--navlinks {
  width: 50%;
}

@media (max-width: 63.9375em) {
  .header__nav--navlinks {
    width: 60%;
  }
}

.header__nav--navlinks .navlink {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
}

@media (max-width: 63.9375em) {
  .header__nav--navlinks .navlink {
    font-size: 1rem !important;
  }
}

.header__nav--navlinks .navlink::before {
  content: "";
  position: absolute;
  height: 2px;
  background: #3ce5b9;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__nav--navlinks .navlink :visited,
.header__nav--navlinks .navlink a:hover {
  text-decoration: none;
}

.header__nav--navlinks .navlink:hover {
  color: #c2c2c2;
}

.header__nav--navlinks .navlink:hover::before {
  opacity: 1;
}

.header__nav--hamburger {
  padding: 0;
}

.header__nav--hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #3ce5b9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-origin: 3px 3px;
          transform-origin: 3px 3px;
}

.header__nav--hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  left: 50%;
  width: calc(100% - 3rem);
  height: calc(100% - 60vh);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #3ce5b9;
  padding: 1.625rem;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.header__menu a {
  color: #0a0c0f;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.625rem;
  display: block;
  text-align: center;
}

.header__menu a :visited, .header__menu a:hover {
  text-decoration: none;
}

.header__menu a:hover {
  color: #2b285c;
}

.header__menu a:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .header__menu a {
    font-size: 1rem !important;
  }
}

@media (max-width: 39.9375em) {
  .header__menu a {
    font-size: 0.83rem !important;
  }
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 12, 15, 0.527)), to(#0a0c0f)), url("../img/bckimg.jpg");
  background: linear-gradient(to bottom, rgba(10, 12, 15, 0.527), #0a0c0f), url("../img/bckimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  max-width: 1324px;
  padding: 1.06rem 1.5rem;
  margin-top: 7rem;
}

@media (max-width: 39.9375em) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main_txt {
  -webkit-box-flex: 2.6;
      -ms-flex: 2.6;
          flex: 2.6;
}

.main_txt--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main_txt--btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  width: 120px;
  text-decoration: none;
  height: 40px;
  border-radius: 10px;
  background-color: #3ce5b9;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  padding: 0px;
  -webkit-transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  -webkit-box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
          box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
}

.main_txt--btn a:not(:last-child) {
  margin-right: 1rem;
}

.main_txt--btn a:hover {
  -webkit-box-shadow: 4px 3px 10px black;
          box-shadow: 4px 3px 10px black;
}

.main_txt--btn a:active {
  -webkit-box-shadow: 3px 2px 10px black;
          box-shadow: 3px 2px 10px black;
}

@media (max-width: 39.9375em) {
  .main_txt--btn a {
    width: 90px;
    height: 25px;
    padding: 0.2rem 0.6rem;
    border: none;
    font-size: .6rem;
    border-radius: 50px;
  }
}

.main_txt--intro {
  margin-bottom: 2rem;
  -webkit-animation: slideelem 1s linear;
          animation: slideelem 1s linear;
}

.main_txt--intro-n {
  color: #3ce5b9;
  font-size: 2rem;
}

@media (max-width: 39.9375em) {
  .main_txt--intro-n {
    font-size: 1.5rem !important;
  }
}

.main_txt--intro-i {
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 63.9375em) {
  .main_txt--intro-i {
    font-size: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .main_txt--intro-i {
    font-size: 0.83rem;
  }
}

@media (max-width: 39.9375em) {
  .main_txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.main_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_social .navlink {
  margin-bottom: 1rem;
}

.main_social .navlink_svg {
  height: 60%;
}

.main_social .navlink_svg:hover {
  fill: #3ce5b9;
}

@media (max-width: 39.9375em) {
  .main_social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
  }
  .main_social .navlink:not(:last-child) {
    margin-right: 1rem;
  }
  .main_social .navlink_svg {
    height: 1.4rem;
  }
}

.aboutme {
  color: white;
  width: 90%;
  padding: 1.06rem 1.5rem;
  margin: auto;
  height: auto;
  margin-bottom: 6rem;
  margin-top: 6rem;
  max-width: 1324px;
}

.aboutme__links {
  margin-bottom: 2rem;
}

@media (max-width: 39.9375em) {
  .aboutme__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.aboutme__links--link {
  text-decoration: none;
  font-size: 1.5rem;
  outline: none;
  color: #fff;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: inherit;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.aboutme__links--link::before {
  content: "";
  position: absolute;
  height: 2px;
  background: #3ce5b9;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.aboutme__links--link :visited,
.aboutme__links--link a:hover {
  text-decoration: none;
  border: none;
}

.aboutme__links--link:hover {
  color: #c2c2c2;
}

.aboutme__links--link:hover::before {
  opacity: 1;
}

.aboutme__links--link:not(:last-child) {
  margin-right: 3rem;
}

@media (max-width: 39.9375em) {
  .aboutme__links--link:not(:last-child) {
    margin-right: .5rem !important;
  }
}

@media (max-width: 63.9375em) {
  .aboutme__links--link {
    font-size: 1rem !important;
  }
}

@media (max-width: 39.9375em) {
  .aboutme__links--link {
    font-size: 1rem !important;
  }
}

.aboutme__content {
  position: relative;
}

@media (max-width: 39.9375em) {
  .aboutme__content p {
    font-size: 0.7rem !important;
  }
}

.aboutme__content .aboutmetxt {
  width: 100%;
  height: 100%;
}

.aboutme__content .aboutmetxt p {
  width: 100%;
  height: 100%;
}

.aboutme__content .experiencetxt {
  margin-top: 1.5rem;
  width: 100%;
  height: 100%;
}

.aboutme__content .experiencetxt p {
  width: 100%;
  height: 100%;
}

@media (max-width: 39.9375em) {
  .aboutme__content .experiencetxt p {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 39.9375em) {
  .aboutme__content .experiencetxt__c ul li {
    font-size: 0.7rem !important;
  }
}

.aboutme__content .experiencetxt__c strong {
  font-weight: 550 !important;
}

@media (max-width: 39.9375em) {
  .aboutme__content .experiencetxt__c strong {
    font-weight: 400;
    font-size: 0.7rem !important;
  }
}

@media (max-width: 39.9375em) {
  .aboutme__content .experiencetxt__c span {
    font-size: 0.7rem !important;
  }
}

.projects {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  margin-bottom: 6rem;
  padding: 1.06rem 1.5rem;
  background-position: center;
}

.projects__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1.06rem 1.5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1324px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 39.9375em) {
  .projects__container {
    padding: .6rem .5rem !important;
  }
}

.projects__container--card {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  position: relative;
  height: 24rem;
  width: 45%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 63.9375em) {
  .projects__container--card {
    width: 75% !important;
    margin: 1.8rem !important;
  }
}

@media (max-width: 39.9375em) {
  .projects__container--card {
    width: 100% !important;
    margin: .8rem .2rem !important;
    padding: 0 !important;
  }
}

.projects__container--card .content {
  height: 5rem;
  position: absolute;
  padding: 2.9rem 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3ce5b9;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 39.9375em) {
  .projects__container--card .content {
    padding: 1.9rem 1.5rem;
    height: 3rem;
  }
}

.projects__container--card .content:hover {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.projects__container--card .content h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .3rem;
  margin-top: -.5rem;
}

@media (max-width: 39.9375em) {
  .projects__container--card .content h4 {
    font-size: 0.83rem !important;
    margin-bottom: .03rem;
  }
}

.projects__container--card .content h5 {
  font-size: 1rem;
  font-weight: 500;
  color: #0a0c0f;
  margin-bottom: .2rem;
}

@media (max-width: 39.9375em) {
  .projects__container--card .content h5 {
    font-size: 0.83rem !important;
    margin-bottom: .02rem;
  }
}

.projects__container--card .content p {
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
  font-weight: 400;
  color: #0a0c0f;
  letter-spacing: .5px;
}

@media (max-width: 39.9375em) {
  .projects__container--card .content p {
    font-size: 0.83rem !important;
    margin-bottom: .02rem;
  }
}

.projects__container--card .content .card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  padding-left: 0;
}

.projects__container--card .content .card-icons a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 80px;
  height: 50px;
  border-radius: 100px;
  background-color: transparent;
  color: #EEEEEE;
  outline: none;
  cursor: pointer;
  padding: 0px;
  -webkit-transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  -webkit-box-shadow: rgba(114, 235, 201, 0.329) -7px -7px 13px, rgba(17, 116, 107, 0.445) 7px 7px 13px;
          box-shadow: rgba(114, 235, 201, 0.329) -7px -7px 13px, rgba(17, 116, 107, 0.445) 7px 7px 13px;
}

@media (max-width: 39.9375em) {
  .projects__container--card .content .card-icons a {
    font-size: .8rem !important;
    width: 50px;
    height: 30px;
  }
  .projects__container--card .content .card-icons a svg {
    width: 20px;
    height: 20px;
  }
}

.projects__container--card .content .card-icons a:not(:last-child) {
  margin-right: .9rem;
}

.projects__container--card .content .card-icons a:hover {
  -webkit-box-shadow: 2px 5px 5px rgba(19, 141, 100, 0.493);
          box-shadow: 2px 5px 5px rgba(19, 141, 100, 0.493);
}

.projects__container--card img {
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.projects__container--card img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skills {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 6rem;
}

.skills__container {
  width: 90%;
  margin: auto;
  padding: 1.06rem 1.5rem;
  max-width: 1324px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

@media (max-width: 39.9375em) {
  .skills__container {
    width: 90%;
    margin: auto;
    min-width: 120px;
    -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
}

.skills__container--item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 170px;
  border-radius: 10px;
  background-color: #0a0c0f;
  color: #EEEEEE;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  -webkit-box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
          box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
}

@media (max-width: 39.9375em) {
  .skills__container--item {
    min-width: 110px;
  }
}

.skills__container--item h3 {
  font-size: 1rem;
  color: #fff;
  font-weight: 450;
}

@media (max-width: 39.9375em) {
  .skills__container--item h3 {
    font-size: 0.83rem;
  }
}

@media (max-width: 39.9375em) {
  .skills__container--item svg {
    width: 50px;
    height: 50px;
    margin-bottom: .5rem;
  }
}

.skills__container--item:hover {
  -webkit-box-shadow: 4px 12px 12px rgba(5, 5, 5, 0.171);
          box-shadow: 4px 12px 12px rgba(5, 5, 5, 0.171);
}

.tools {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 6rem;
}

.tools__container {
  width: 90%;
  margin: auto;
  padding: 1.06rem 1.5rem;
  display: -ms-grid;
  display: grid;
  max-width: 1224px;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

@media (max-width: 39.9375em) {
  .tools__container {
    width: 90%;
    margin: auto;
    min-width: 120px;
    -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
}

.tools__container--item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 170px;
  border-radius: 10px;
  background-color: #0a0c0f;
  color: #EEEEEE;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
  transition: box-shadow 0.2s ease-out 0s, background-color 0.2s ease-out 0s, -webkit-box-shadow 0.2s ease-out 0s;
  -webkit-box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
          box-shadow: rgba(49, 51, 70, 0.021) -7px -7px 13px, rgba(5, 7, 8, 0.521) 7px 7px 13px;
}

@media (max-width: 39.9375em) {
  .tools__container--item {
    min-width: 110px;
  }
}

.tools__container--item h3 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 450;
  font-size: 1rem;
}

@media (max-width: 39.9375em) {
  .tools__container--item h3 {
    font-size: 0.83rem;
  }
}

@media (max-width: 39.9375em) {
  .tools__container--item svg {
    width: 50px;
    height: 50px;
    margin-bottom: .5rem;
  }
}

.tools__container--item:hover {
  -webkit-box-shadow: 4px 12px 12px rgba(5, 5, 5, 0.171);
          box-shadow: 4px 12px 12px rgba(5, 5, 5, 0.171);
}

.contact {
  width: 100%;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 21, 29, 0.623)), to(rgba(27, 25, 37, 0.473))), url("../img/bckimg1.jpg");
  background: linear-gradient(to bottom, rgba(21, 21, 29, 0.623), rgba(27, 25, 37, 0.473)), url("../img/bckimg1.jpg");
  outline: none;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1224px;
  padding: 1.06rem 1.5rem;
}

@media (max-width: 39.9375em) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact__container--rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: end;
}

.contact__container--rightside h4 {
  font-size: 1rem;
}

@media (max-width: 39.9375em) {
  .contact__container--rightside h4 {
    font-size: 0.83rem;
  }
}

.contact__container--rightside-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin: 0 !important;
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 63.9375em) {
  .contact__container--rightside-number {
    font-size: 1rem !important;
  }
}

@media (max-width: 39.9375em) {
  .contact__container--rightside-number {
    font-size: 0.83rem;
  }
}

.contact__container--leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40%;
}

@media (max-width: 39.9375em) {
  .contact__container--leftside {
    width: 50%;
  }
}

.contact__container--leftside a svg {
  width: 22px;
}

@media (max-width: 39.9375em) {
  .contact__container--leftside a svg {
    width: 20px;
    margin-right: .5rem;
  }
}

.contact .footer-t {
  font-size: 0.83rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 39.9375em) {
  .contact .footer-t {
    font-size: .5rem !important;
  }
  .contact .footer-t img {
    height: 22px !important;
  }
}
/*# sourceMappingURL=style.css.map */